@model lab5.Models.ScheduleForWeek
@{
    ViewData["Title"] = "Details";
}
<h2>Подробности</h2>
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.StartTime)</dt>
        <dd>@Html.DisplayFor(model => model.StartTime)</dd>
        <dt>@Html.DisplayNameFor(model => model.GuestsEmployees)</dt>
        <dd>@Html.DisplayFor(model => model.GuestsEmployees)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@Model.ScheduleForWeekID">Изменить</a>
    <a asp-action="Delete" class="btn btn-sm btn-primary" asp-route-id="@Model.ScheduleForWeekID">Удалить</a>
    <a asp-action="Index" class="btn btn-sm btn-primary">Вернуться</a>
</div>