@model lab5.Models.CitizensAppeal
@{
    ViewData["Title"] = "Details";
}
<h2>Подробности</h2>
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.LFO)</dt>
        <dd>@Html.DisplayFor(model => model.LFO)</dd>
        <dt>@Html.DisplayNameFor(model => model.Organization)</dt>
        <dd>@Html.DisplayFor(model => model.Organization)</dd>
        <dt>@Html.DisplayNameFor(model => model.GoalOfRequest)</dt>
        <dd>@Html.DisplayFor(model => model.GoalOfRequest)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@Model.CitizensAppealID">Изменить</a>
    <a asp-action="Delete" class="btn btn-sm btn-primary" asp-route-id="@Model.CitizensAppealID">Удалить</a>
    <a asp-action="Index" class="btn btn-sm btn-primary">Вернуться</a>
</div>